/* primary colors */
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

$fb: hsl(208, 92%, 53%);
$twtr: hsl(203, 89%, 53%);
$ig: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

/* dark theme colors */
$very-dark-blue: hsl(230, 17%, 14%);
$very-dark-blue-top-bg: hsl(232, 19%, 15%);
$dark-desat-blue-card-bg: hsl(228, 28%, 20%);
$desat-blue-for-text: hsl(228, 34%, 66%);
$white-for-text: hsl(0, 0%, 100%);

$border-width: 5px;

@mixin bg-color {
    background-color: $dark-desat-blue-card-bg;
}

@mixin dark-text {
    color: $desat-blue-for-text;
}

@mixin white-text {
    color: $white-for-text;
}

@mixin width {
    width: 325px;
}

@mixin border-stuff {
    border-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@mixin large-font {
    margin: 0;
    padding: 0;
    font-size: 44px;
    font-weight: 700;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin taming-headers {
    h2 {
        @include dark-text;
        font-size: 10px;
        display: inline;
    }

    h3 {
        @include large-font;
        @include white-text;
    }

    h4 {
        margin: 3px 0;
        @include dark-text;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    p {
        margin: 25px 0;
        font-size: 10px;
    }
}

* {
    font-family: Inter;
}

body {
    background: $very-dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: $white-for-text;
    font-size: 18px;
}

hr {
    @include width;
    border-color: $desat-blue-for-text;
}

#clever-hack {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    @include border-stuff();
}

#heading {
    @include width;
}

#overview {
    width: 100%;
    margin: 20px 0;
    color: $white-for-text;
    font-size: 20px;
    font-weight: bold;
}

#theme-select {
    padding: 7px 0 30px 0;
    @include width;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        @include dark-text;
        font-size: 12px;
        font-weight: bold;
    }
}

#total-followers {
    font-size: 12px;
    color: $desat-blue-for-text;
    font-weight: bold;
}

/* platform names */

#fb {
    border-top-color: $fb;
}

#twtr {
    border-top-color: $twtr;
}

#youtube {
    border-top-color: $youtube;
}

#ig {
    @include bg-color;
    margin-bottom: 20px;
    @include width;
    height: 215px;

    @include border-stuff();
    text-align: center;

    div {
        @include taming-headers();
    }
}

.card {
    @include bg-color;
    margin-bottom: 20px;
    @include width;
    height: 215px;

    border-radius: 5px;
    border-top-style: solid;
    border-top-width: thick;
    text-align: center;

    @include taming-headers();
}

.change-wrapper {
    @include flex-row-center();

    * {
        margin: 0 6px;
    }
}

.green {
    color: $lime-green;
}

.handle-wrapper {
    margin: 25px 0;
    @include flex-row-center();

    * {
        margin: 0 3px;
    }
}

.pct-wrapper {
    @include flex-row-center();
}

.pct-wrapper * {
    margin: 0 2px;
}

.red {
    color: $bright-red;
}

.stat {
    @include bg-color;
    margin-bottom: 15px;
    width: 325px;
    height: 125px;
    border-radius: 3px;

    h2 {
        color: $desat-blue-for-text;
        font-size: 12px;
    }

    p {
        font-size: 22px;
        @include white-text;
    }

    span {
        font-size: 10px;
    }
}

.stat-wrapper {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    * {
        margin: 20px;
    }
}

@media (min-width: 1150px) {
    hr {
        display: none;
    }

    #cards {
        width: 1110px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #heading-wrapper {
        width: 1110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #ig {
        width: 255px;
    }

    #stats-wrapper {
        width: 1110px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #theme-select {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: right;
    }

    #theme-select > * {
        margin: 0 10px;
    }

    .card {
        width: 255px;
    }

    .misc-container {
        width: fit-content;
        height: 40px;
        display: inline-block;
        text-align: right;
    }

    .stat {
        width: 255px;
    }
}

/* Switch from W3Schools */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196f3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: $very-dark-blue;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
